@import "tailwindcss";
@import './assets/theme.css';


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

